@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.container{
display: flex;
/* justify-content: space-between; */
}
.flex{
   justify-content: space-between;
    display: flex;

}
.fi{

    display:flex;
    justify-content: space-between;
}
